In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [2]:
url = "https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv"
application_df = pd.read_csv(url)

In [8]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN","NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [9]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [10]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
application_types_to_replace = application_counts[application_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [13]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [14]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt_1 = classification_counts[classification_counts > 1]
classification_counts_gt_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [15]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value_classification = 1000
classifications_to_replace = classification_counts[classification_counts < cutoff_value_classification].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [17]:
# Split our preprocessed data into our features and target arrays
y = application_df_encoded["IS_SUCCESSFUL"].values
X = application_df_encoded.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(25724, 43) (8575, 43) (25724,) (8575,)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [51]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import RMSprop

# Build the model
nn = Sequential()

# Input layer
nn.add(Dense(128, activation='relu', input_shape=(X_train_scaled.shape[1],)))
nn.add(Dropout(0.3))  # Adding dropout

# Hidden layers
nn.add(Dense(64, activation='relu'))
nn.add(Dropout(0.3))  # Adding dropout
nn.add(Dense(32, activation='relu'))

# Output layer
nn.add(Dense(1, activation='sigmoid'))

# Compile the model
optimizer = RMSprop(lr=0.001)
nn.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])


# Compile the model using an optimizer with a learning rate adjustment
nn.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001), loss='binary_crossentropy', metrics=['accuracy'])

# Check the structure of the model
nn.summary()

WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.RMSprop.

Model: "sequential_15"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_47 (Dense)            (None, 128)               5632

 dropout_25 (Dropout)        (None, 128)               0

 dense_48 (Dense)            (None, 64)                8256

 dropout_26 (Dropout)        (None, 64)                0

 dense_49 (Dense)            (None, 32)                2080

 dense_50 (Dense)            (None, 1)                 33

=================================================================
Total params: 16,001
Trainable params: 16,001
Non-trainable params: 0
_________________________________________________________________

In [53]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, ReduceLROnPlateau

# Define callbacks
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)
model_checkpoint = ModelCheckpoint('best_model.h5', monitor='val_accuracy', save_best_only=True)
reduce_lr = ReduceLROnPlateau(monitor='val_loss', factor=0.2, patience=5, min_lr=0.0001)

callbacks_list = [early_stopping, model_checkpoint, reduce_lr]

# Train the model with added parameters
fit_model = nn.fit(X_train_scaled, y_train,
                   epochs=100,
                   validation_split=0.2,
                   batch_size=64,
                   shuffle=True,
                   callbacks=callbacks_list)

Epoch 1/100
322/322 [==============================] - 3s 5ms/step - loss: 0.5927 - accuracy: 0.7079 - val_loss: 0.5713 - val_accuracy: 0.7221 - lr: 0.0010
Epoch 2/100
322/322 [==============================] - 1s 4ms/step - loss: 0.5682 - accuracy: 0.7246 - val_loss: 0.5680 - val_accuracy: 0.7213 - lr: 0.0010
Epoch 3/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5634 - accuracy: 0.7286 - val_loss: 0.5638 - val_accuracy: 0.7238 - lr: 0.0010
Epoch 4/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5591 - accuracy: 0.7310 - val_loss: 0.5607 - val_accuracy: 0.7242 - lr: 0.0010
Epoch 5/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5597 - accuracy: 0.7332 - val_loss: 0.5609 - val_accuracy: 0.7259 - lr: 0.0010
Epoch 6/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5564 - accuracy: 0.7325 - val_loss: 0.5614 - val_accuracy: 0.7267 - lr: 0.0010
Epoch 7/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5547 - accuracy: 0.7326 - val_loss: 0.5607 - val_accuracy: 0.7252 - lr: 0.0010
Epoch 8/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5545 - accuracy: 0.7328 - val_loss: 0.5595 - val_accuracy: 0.7252 - lr: 0.0010
Epoch 9/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5541 - accuracy: 0.7338 - val_loss: 0.5623 - val_accuracy: 0.7263 - lr: 0.0010
Epoch 10/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5527 - accuracy: 0.7337 - val_loss: 0.5610 - val_accuracy: 0.7240 - lr: 0.0010
Epoch 11/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5525 - accuracy: 0.7329 - val_loss: 0.5605 - val_accuracy: 0.7254 - lr: 0.0010
Epoch 12/100
322/322 [==============================] - 1s 4ms/step - loss: 0.5513 - accuracy: 0.7345 - val_loss: 0.5632 - val_accuracy: 0.7252 - lr: 0.0010
Epoch 13/100
322/322 [==============================] - 2s 5ms/step - loss: 0.5510 - accuracy: 0.7337 - val_loss: 0.5594 - val_accuracy: 0.7250 - lr: 0.0010
Epoch 14/100
322/322 [==============================] - 1s 4ms/step - loss: 0.5492 - accuracy: 0.7354 - val_loss: 0.5599 - val_accuracy: 0.7258 - lr: 0.0010
Epoch 15/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5509 - accuracy: 0.7338 - val_loss: 0.5596 - val_accuracy: 0.7267 - lr: 0.0010
Epoch 16/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5493 - accuracy: 0.7357 - val_loss: 0.5589 - val_accuracy: 0.7252 - lr: 0.0010
Epoch 17/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5496 - accuracy: 0.7359 - val_loss: 0.5599 - val_accuracy: 0.7256 - lr: 0.0010
Epoch 18/100
322/322 [==============================] - 2s 5ms/step - loss: 0.5490 - accuracy: 0.7358 - val_loss: 0.5578 - val_accuracy: 0.7263 - lr: 0.0010
Epoch 19/100
322/322 [==============================] - 2s 6ms/step - loss: 0.5486 - accuracy: 0.7357 - val_loss: 0.5591 - val_accuracy: 0.7263 - lr: 0.0010
Epoch 20/100
322/322 [==============================] - 2s 5ms/step - loss: 0.5488 - accuracy: 0.7354 - val_loss: 0.5599 - val_accuracy: 0.7265 - lr: 0.0010
Epoch 21/100
322/322 [==============================] - 2s 6ms/step - loss: 0.5480 - accuracy: 0.7348 - val_loss: 0.5601 - val_accuracy: 0.7273 - lr: 0.0010
Epoch 22/100
322/322 [==============================] - 1s 4ms/step - loss: 0.5472 - accuracy: 0.7356 - val_loss: 0.5602 - val_accuracy: 0.7261 - lr: 0.0010
Epoch 23/100
322/322 [==============================] - 1s 4ms/step - loss: 0.5471 - accuracy: 0.7369 - val_loss: 0.5586 - val_accuracy: 0.7263 - lr: 0.0010
Epoch 24/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5458 - accuracy: 0.7369 - val_loss: 0.5585 - val_accuracy: 0.7259 - lr: 2.0000e-04
Epoch 25/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5450 - accuracy: 0.7384 - val_loss: 0.5580 - val_accuracy: 0.7254 - lr: 2.0000e-04
Epoch 26/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5442 - accuracy: 0.7373 - val_loss: 0.5578 - val_accuracy: 0.7261 - lr: 2.0000e-04
Epoch 27/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5433 - accuracy: 0.7366 - val_loss: 0.5577 - val_accuracy: 0.7265 - lr: 2.0000e-04
Epoch 28/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5446 - accuracy: 0.7369 - val_loss: 0.5581 - val_accuracy: 0.7261 - lr: 2.0000e-04
Epoch 29/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5429 - accuracy: 0.7368 - val_loss: 0.5580 - val_accuracy: 0.7261 - lr: 1.0000e-04
Epoch 30/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5434 - accuracy: 0.7378 - val_loss: 0.5580 - val_accuracy: 0.7261 - lr: 1.0000e-04
Epoch 31/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5428 - accuracy: 0.7381 - val_loss: 0.5580 - val_accuracy: 0.7256 - lr: 1.0000e-04
Epoch 32/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5438 - accuracy: 0.7386 - val_loss: 0.5578 - val_accuracy: 0.7256 - lr: 1.0000e-04
Epoch 33/100
322/322 [==============================] - 2s 5ms/step - loss: 0.5426 - accuracy: 0.7388 - val_loss: 0.5579 - val_accuracy: 0.7256 - lr: 1.0000e-04
Epoch 34/100
322/322 [==============================] - 2s 6ms/step - loss: 0.5435 - accuracy: 0.7376 - val_loss: 0.5578 - val_accuracy: 0.7259 - lr: 1.0000e-04
Epoch 35/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5428 - accuracy: 0.7375 - val_loss: 0.5579 - val_accuracy: 0.7259 - lr: 1.0000e-04
Epoch 36/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5425 - accuracy: 0.7379 - val_loss: 0.5580 - val_accuracy: 0.7259 - lr: 1.0000e-04
Epoch 37/100
322/322 [==============================] - 1s 3ms/step - loss: 0.5435 - accuracy: 0.7376 - val_loss: 0.5581 - val_accuracy: 0.7265 - lr: 1.0000e-04

In [54]:
nn.save("AlphabetSoupCharity_Optimization.h5")